---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: prometheus-pve-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      prometheus-pve-exporter:
        containers:
          app:
            image:
              repository: prompve/prometheus-pve-exporter
              tag: 3.8.1@sha256:c0a6d578f116b6a26670f03a33f8949bc6036caa71d4ec3c199fd490c1b71644
            envFrom:
              - secretRef:
                  name: secret-pve-exporter
            env:
              PVE_VERIFY_SSL: false
              PVE_USER: "prometheus@pve"
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
    service:
      app:
        controller: prometheus-pve-exporter
        ports:
          http:
            port: 9221

# No service monitor for this, check scrape config
